{% extends 'choicemaster/base.html' %}

{% block content %}
    <h1>{{ subject_title }}</h1>

    <h2>Exam Statistics</h2>
    <table style="width: 100%">
        <tr>
            <td>Grade: <b>{{ result }}</b></td>
            <td>Questions answered: <b>{{ exam.exam_quantity_questions }}</b></td>
        </tr>
        <tr>
            <td>Questions answered correctly: <b>{{ exam.amount_correct }}</b></td>
            <td>Questions answered incorrectly: <b>{{ amount_incorrect }}</b></td>
        </tr>
    </table>
    <br>
    <h2>Configuration</h2>
    <h3>Exam subject:</h3>
    <span>{{ exam.subject.subject_title }}</span>
    <h3>Exam topics:</h3>
    <div align="left" id="topics">
        {% for item in topics %}
            <span><b>{{ item.topic_title }}</b></span><br>
        {% endfor %}
    </div>
    <h3>Time per question:</h3>
    <span>{{ exam.exam_timer }} seconds</span><br>
    {% if exam.algorithm == 0 %}
        <p>Algorithm: Random</p>
    {% elif exam.algorithm == 1 %}
        <p>Algorithm: Based on errors</p>
    {% endif %}


{% endblock %}