{% extends 'choicemaster/base.html' %}

{% block content %}
    <h1>Statistics</h1>
    {% for k, v in evaluated.items %}
        {% if v.1 >= 7%}
            <h3 class="sub green"><a href="/statistics/subject/{{ k }}/">{{ v.0.subject_title }}</a></h3>
        {% elif v.1 >= 4 %}
            <h3 class="sub yellow"><a href="/statistics/subject/{{ k }}/">{{ v.0.subject_title }}</a></h3>
        {% else %}
            <h3 class="sub red"><a href="/statistics/subject/{{ k }}/">{{ v.0.subject_title }}</a></h3>
        {% endif %}
    {% endfor %}
{% endblock %}