{% extends 'choicemaster/base.html' %}

{% block content %}
    <h1></h1>
    <h2> Subject: {{ subject }} </h2>
    <h2> Question : {{ question.question_text }}</h2>
    <form action="{% url 'generate' %}" method="post">
        {% csrf_token %}
        <p>
            {{ form }}
        </p>
        <p> <button type="button" onclick="get_correct();"> Submit </button></p>
        <p><input type="submit" value="Next" /></p>
    </form>
    <div id="correct_answer"></div>
    <div id="question_id" style="display:none">{{ question.id }}</div>
    <script type="text/javascript">
    function get_correct() {
        var e = document.getElementById("question_id").innerHTML;
        console.log("ids =", ids);
        $.ajax({
            type: 'POST',
            url: '/ajax/get_correct/',
            dataType: 'json',
            data: {'idq': e},
            success: function(data) {
                // Show correct answer
                var idt = document.getElementById("correct_answer");
                idt.innerHTML = data['answer']
                console.log("test:", data.answer_text);
                console.log("success!");
            }
        });
    }
    </script>
{% endblock %}