{% extends 'choicemaster/base.html' %}

{% block content %}
    <h2>Evaluation on {{ subject.subject_title }}</h2>
    <h3> Question: {{ question.question_text }}</h3>
    <form action="{% url 'resolve_exam' %}" method="post">
        {% csrf_token %}
        {{ form.answer }}
        <p id="correct_answer_p" style="display: none">
            <b>Correct answer: </b><span id="correct_answer"></span>
        </p>
        <p id="chosen_answer_p" style="display: none">
            <b>Chosen answer: </b><span id="chosen_answer"></span>
        </p>
        <p id="submit"><button type="button" onclick="submit_answer();">Submit</button></p>
        <p id="nextq" style="display: none;"><input type="submit" value="Next"/></p>
        <input type="hidden" name="exam_id" value="{{ exam_id }}">
        <input type="hidden" name="question_id" value="{{ question.id }}">
    </form>
    <div id="question_id" style="display:none">{{ question.id }}</div>

    <button onclick="open_report()"> Same questions?</button>
    <p></p>
    <ul style="display:none" id="IDR">
        {% for quest in questions_used %}
            {% if not forloop.last %}
                 <input onclick="send_r({{ quest.id }}, {{ question.id}})" type="checkbox" id="C{{quest.id}}">{{quest.question_text}}<p></p>
            {% endif %}
        {% endfor %}
    </ul>
    <p></p>
    <button onclick="open_report2()"> Report questions</button>
        <ul style="display:none" id="ID2">
            <p></p>
            Decription <input id="ID3" type="text"name="Edit">
            <button onclick="send_report({{ question.id }})"> Send </button>
        </ul>

    <p></p>
    <div id="timer_div"></div>

    <script type="text/javascript">
        function send_r(id1, id2){
            $.ajax({
                type: "POST",
                url: "/ajax/edit/autoreport/",
                dataType: "json",
                data: {'id1':id1,
                       'id2': id2
                }
             });
            location.reload(false);
        }
       function send_report(idq){
           $.ajax({
                type: "POST",
                url: "/ajax/edit/reporting/",
                dataType: "json",
                data: {'idq':idq ,
                        'description':document.getElementById("ID3").value
                }
            });
           location.reload(false);
       }
        function open_report(){
        var a = document.getElementById("IDR");
        if(a.style.display == "none"){
            a.style.display = "inline";
        }
        else{
            a.style.display = "none";
        }
    }
    function open_report2(){
        var a = document.getElementById("ID2");
        if(a.style.display == "none"){
            a.style.display = "inline";
        }
        else{
            a.style.display = "none";
        }
    }

    //var t_out;

    $(document).ready(function() {
        $('label[for="id_answer_0"]').parent().hide();
        var timer = {{ timer }};
        var seconds_left = timer;
        var time = timer*1000;
        var intervalTimerID = null;
        var iterations = 0;

        intervalTimerID = setInterval(WillYouFuckingWork, 1000);

        function WillYouFuckingWork() {
                ++iterations;
                document.getElementById('timer_div').innerHTML = "You have " + Math.abs(seconds_left-iterations) + " seconds left to answer this question.";
                if (iterations > seconds_left) {
                    document.getElementById('timer_div').innerHTML = "Wohah!"
                    clearInterval(intervalTimerID);
                    intervalTimerID = null;
                    submit_answer();
                    }
            }

         function triggerStopTimer() {
            document.getElementById('timer_div').innerHTML = "Something is meant to happen here...";
            clearInterval(intervalTimerID);
            intervalTimerID = null;
            submit_answer();
         }

        // Reset display for blocks
        $("#correct_answer_p").hide();
        $("#chosen_answer_p").hide();
        $("#id_answer").show();
        $("#submit").show();
        $("#nextq").hide();
    });
    function submit_answer() {
        var val = $('input[name="answer"]:checked').val();
        if (val.length == 0) {
            $("#chosen_answer").text("No answer chosen");
            $("#chosen_answer_p").show();
        }
        console.log("val:", val);
        var e = document.getElementById("question_id").innerHTML;
        //clearTimeout(t_out);
        $.ajax({
            type: 'POST',
            url: '/ajax/get_correct/',
            dataType: 'json',
            data: {'idq': e},
            success: function(data) {
                // Show correct answer
                $("#correct_answer").text(data['answer']);
                $("#correct_answer_p").show();
                var chosen = $('input[name="answer"]:checked').parent().text();
                $("#chosen_answer").text(chosen);
                $("#chosen_answer_p").show();
                //  Hide answers and show final submit button
                $("#id_answer").hide();
                $("#submit").hide();
                $("#nextq").show();
                console.log("test:", data.answer);
                console.log("success!");
            }
        });
    }
    </script>
{% endblock %}