{% extends 'choicemaster/base.html' %}

{% block content %}
    {% if request.user.get_username %}
        <h3>What do you want to do?</h3>
        <table style="width: 50%">
            <tr>
                <td><a class="light medium-text" href="/configure1">Take an exam</a></td>
                <td><a class="light medium-text" href="/statistics/subjects">Check your results</a></td>
            </tr>
        </table>
        {% if exam_finished %}
            <br>
            <h3>Results Report</h3>
            <div id="conclusion">
                <span class="light medium-text">Congrats. You're done!</span>
                <br>
                <br>
                {% if passed %}
                    <span class="green-text">You passed the exam!</span>
                {% else %}
                    <span class="red-text">But you did not pass the exam. :(</span>
                {% endif %}
                <br>
                <br>
                <span>Out of {{no_questions}} questions, you answered {{no_correct_answers}} correctly, for a final grade of {{result}}%.</span>
                <br>
                <span><a href="/statistics/exam/{{ exam_id }}/"><b>Click here</b></a> to go to the exam detail.</span>
                <br>
            </div>
        {% endif %}
    {% else %}
        <h2>Hello friend!</h2>
        <br>
        Welcome. You should think about logging in.
    {% endif %}
{% endblock %}
