{% extends 'choicemaster/base.html' %}

{% block content %}
    <script>
        function delete_report(id) {
            console.log("Eliminando reporte");
            $.ajax({
                type: "POST",
                url: "/ajax/delete/report",
                dataType: "json",
                data: {'id':id}
            });
            location.reload(false);
        }
    </script>

    <script>
        function delete_question(idR, idQ) {
            console.log("Eliminando question");
            $.ajax({
                type: "POST",
                url: "/ajax/delete/question",
                dataType: "json",
                data: {'idR':idR , 'idQ':idQ}
            });
            location.reload(false);
        }
    </script>

    {% load static %}
    <h1> Pending reports </h1>
    {% if reports %}
        <blockquote>
        <blockquote>
            <ul>
                {% for report in reports %}
                    <li>
                        {{report.report_description}}
                        <img src="{% static 'delete.png' %}" height="20" width="20" onclick="delete_report({{ report.id }})">
                    </li>
                    <blockquote>
                        {{report.question.question_text}}
                        <img src="{% static 'delete.png' %}" height="20" width="20" onclick="delete_question({{report.id}}, {{report.question.id}})">
                        <img src="{% static 'edit.png' %}" height="20" width="20">
                        <blockquote>
                            <ul>
                                {% for answer in report.question.answer_set.all %}
                                    <li> {{answer.answer_text}}
                                        <Img src="{% static 'delete.png' %}" height="20" width="20">
                                        <img src="{% static 'edit.png' %}"height="20" width="20">
                                    </li>
                                {% endfor %}
                            </ul>
                        </blockquote>
                    </blockquote>
                {% endfor %}
            </ul>
        </blockquote>
        </blockquote>
    {% else %}
        <p>No reports pending!</p>
    {% endif %}
{% endblock %}