{% extends 'choicemaster/base.html' %}

{% block content %}
    <script>
        function delete_report(id) {
            console.log("Eliminando reporte");
            $.ajax({
                type: "POST",
                url: "/ajax/delete/",
                dataType: "json",
                data: {'id':id}
            });
        }
    </script>
    <h1> Pending reports </h1>
    {% if reports %}
        {% for report in reports %}
            <li>
                {{report.report_description}}
                <button onclick="delete_report({{ report.id }})">
                    Eliminar/Editar
                </button>
            </li>
            Pregunta: {{report.question.question_text}}
            <button>
                <a href= "/admin/choicemaster/question/{{ report.question.id}}/change/">Eliminar/Editar</a>
            </button>
            <ul>
                Respuestas: <br>
                {% for answer in report.question.answer_set.all %}
                    <li> {{answer.answer_text}}
                        <button>
                            <a href= "/admin/choicemaster/answer/{{ answer.id}}/change/">Eliminar/Editar</a>
                        </button>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% else %}
        <p>No reports pending!</p>
    {% endif %}
{% endblock %}