{% extends 'choicemaster/base.html' %}

{% block content %}
    <h1>Add questions</h1>
    <form id="question_form" action="{% url 'add_question' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p> {{ form.subject }} </p>
        <p> {{ form.topic }} </p>
        <p> {{ form.xmlfile.label }} </p>
        <p> {{ form.xmlfile }} </p>
        <br>
        <input type="submit" value="Submit" />
    </form>

    <script type="text/javascript">
    $(document).ready(function() {
        $('option[value=""]').text("Select subject");
    });

    function get_topics() {
        var frm = $('#subject_form');
        var e = document.getElementById("id_subject");
        var ids = e.value;
        console.log("ids =", ids);
        $.ajax({
            type: 'POST',
            url: '/ajax_view/',
            dataType: 'json',
            data: {'ids': ids},
            success: function(data) {
                var topics = data.topics;
                console.log("topics:", topics);
                $('#id_topic').html(topics);
                console.log("success!");
            }
        });
    }
    </script>


{% endblock %}